h1 {
  color: #5F9EA0;
  text-align: center;
  font-family: 'Fresca', sans-serif;
  font-size: 40px;
}

.mountain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 550px;
  border: dotted;
  border-color:#FFB6C1;
  border-width: thick;
}

p {
  font-size: 30px;
  color: #FFFFFF;
  background-color: #FFB6C1;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}
